h1{
    width: fit-content;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.genreCon {
    text-align: center;
}

.librarySection{
    overflow-y: auto;
    display: flex;
    flex-flow: wrap row;
}

.librarySection > .libraryCard{
    width: 250px;

}

.animeBanner {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.animeDesc{
    width: 80%;
    margin: 0 auto;
}

.trailerCarousel {
    text-align:center;
    max-width:700px;
    height:400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailerItem {
    height:100%;
    width:100%;
}

div.carousel-inner{
    height: 80%;
    width: 80%;
}

.carousel-item{
    height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators > button {
    filter: invert(1);
}

.accordion {
    width: 80%;
    margin: 0 auto;
}

.animeCoverBanner {
    margin: 0 auto;
    padding-bottom: 5%;
}

.animeCover{
    display:block;
    margin: 0 auto;
}